{% extends '../layout.html' %}

{% block content %}

    <h1>Listar Clientes</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col" style="text-align: center;">#</th>
            <th scope="col" style="text-align: center;">Nombre</th>
            <th scope="col" style="text-align: center;">Apellido</th>
            <th scope="col" style="text-align: center;">Número</th>
            <th scope="col" style="text-align: center;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for cliente in Clientes %}
          
          <tr style="justify-items: center;">
            <th scope="row" style="padding: 20px 0px 20px 0px; text-align: center;">{{ forloop.counter }}</th>
            <td style="padding: 20px 0px 20px 0px; text-align: center;">{{ cliente.1 }}</td>
            <td style="padding: 20px 0px 20px 0px; text-align: center;">{{ cliente.2 }}</td>
            <td style="padding: 20px 0px 20px 0px; text-align: center;">{{ cliente.3 }}</td>
            <td style="padding: 20px 0px 20px 0px; text-align: center;">
              <button class="btn btn-default" onclick="window.location.href='actualizar/{{ cliente.0 }}'"><i
                  class="fa fa-edit"></i></button>
              <button class="btn btn-default" onclick="window.location.href='eliminar/{{ cliente.0 }}'"><i
                  class="fa fa-user-times"></i></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

{% endblock %}